<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/logo.png" type="image/png" />
  <meta name="keywords" content="MS Dharani, MS Dharani biography, about ms dharani, ms dharani history, ms dharani date of birth, ms dharani details" />
  <meta name="description" content="MS Dharani is a self-taught keyboardist and an independent artist who initiated his musical journey on his YouTube channel, MS Dharani, from a very early age. ">
  <meta name="author" content="MS Dharani" />

  <title>MS Dharani - About</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      .carousel-inner .carousel-item img {
        width: 100%;
        height: 280px;
    }
       
        @media (max-width: 425px) {
          .carousel-inner .carousel-item img {
            width: 100%;
            height: 150px;
        }
      }
         @media (max-width: 430px) {
          .carousel-inner .carousel-item img {
            width: 100%;
            height: 150px;
        }
      }
        @media (max-width: 440px) {
          .carousel-inner .carousel-item img {
            width: 100%;
            height: 150px;
        }
    }
    @media (max-width: 280px) {
      .carousel-inner .carousel-item img {
        width: 100%;
        height: 130px;
    } 
}
    </style> 


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/slide.css" rel="stylesheet" />

  <!-- sricipt link for slide -->
  <script src="js/script.js"></script>
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section long_section px-0">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>
            MS Dharani
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tracks">Tracks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/own-tracks">Own Tracks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="quote_btn-container">
            <a href="https://www.youtube.com/@MSDharaniOfficial/">
              <span>
                Subscribe
              </span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-0">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p style="text-align: justify;" class="aboutp">
              MS Dharani was born on April 7, 2004, in Srivilliputtur. He hails from a family of weavers, with his father, K. Madasamy, and mother, M. Saraswati, also being involved in the weaving profession. Dharani has an elder brother, M. Muthukumar, who is a graduate in Electrical and Communication Engineering. <br><br>

              MS Dharani's educational journey has been marked by dedication and accomplishments. He completed his school education at Thiyagaraja Hr. Sec. School in Srivilliputtur. Later, he pursued a Bachelor's in Computer Applications (BCA) at Sri Kaliswari College in Sivakasi, with plans to continue his studies with an MCA degree. <br><br>

              However, MS Dharani's talents extend beyond the academic sphere. He is a passionate musician, excelling in keyboard playing. His musical journey includes participating in various intercollegiate meets, where he has consistently demonstrated his skill. Notably, he secured the 1st prize in an instrumental playing competition at Parvathi's Art and Science College in Dindigul and the 2nd prize in keyboard playing at Mannar Thirumalai Nayakar College in Madurai. In his college, Sri Kaliswari College, he showcased his musical prowess during the annual day performance and claimed the 1st prize in a talent competition for keyboard playing.<br><br>

              MS Dharani's interests go beyond music. He is a keen learner of programming languages and is passionate about web development. His achievements include success in coding competitions, websiting, and quiz contests. Notably, he has also ventured into the world of content creation with two YouTube channels. "IT'S ME TAMILAN" is an entertainment channel with nearly 100,000 subscribers, while "MS Dharani" is dedicated to showcasing his musical talents and has garnered over 20,000 subscribers.<br><br>

              MS Dharani's life is a fusion of artistic creativity and technological innovation, where music and programming harmoniously coexist. With a bright educational path ahead and a thriving presence in the world of music and content creation, Dharani is a multi-talented individual with a promising future.<br><br>
            </div>
            
              <div class="imgsilde">
              <main class="cd__main ">
                <!-- Start DEMO HTML (Use the following code into your project)-->
                <section class="wrapper">
                        <div class="image-holder">
                          <img src="images/0.jpg" alt="MS Dharani Performed at Sri Kaliswari College Photo">
                        </div>
                      
                        <div class="photo-gallery__wrapper">
                          <div class="image-thumbnail">
                            <img src='images/1.jpg' alt='MS Dharani Performed at Sri Kaliswari College Photo' onclick="changeImage(this);" class="active">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/2.jpg' alt="MS Dharani Performed at Parvthi's arts and Science College Photo" onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/3.png' alt="MS Dharani Performed at Parvthi's arts and Science College Photo" onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/4.jpg' alt="MS Dharani Performed at Mannar Thirumalai Naicker College Photo" onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/5.jpg' alt="MS Dharani Performed at Mannar Thirumalai Naicker College Photo" onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/6.jpg' alt="MS Dharani Performed at Mepco Schlenk Engineering College Photo" onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/7.jpeg' alt='MS Dharani Performed at Sri Kaliswari College Photo' onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/9.jpg' alt='MS Dharani got a 1st prize (WebDesigning) in SRNM College Photo' onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/10.jpg' alt='Completed the web developing at WebgApp' onclick="changeImage(this);">
                          </div>
                          <div class="image-thumbnail">
                            <img src='images/0.jpg' alt='MS Dharani Performed at Sri Kaliswari College Photo' onclick="changeImage(this);">
                          </div>
                        </div>
                </section>
                        <!-- END EDMO HTML (Happy Coding!)-->
              </main>
            </div>


            <!-- code for responsive silde for Mobile -->
            <div class="container phone">
              <div id="imageCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                      <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#imageCarousel" data-slide-to="1"></li>
                      <li data-target="#imageCarousel" data-slide-to="2"></li>
                      <li data-target="#imageCarousel" data-slide-to="3"></li>
                      <li data-target="#imageCarousel" data-slide-to="4"></li>
                      <li data-target="#imageCarousel" data-slide-to="5"></li>
                      <li data-target="#imageCarousel" data-slide-to="6"></li>
                      <li data-target="#imageCarousel" data-slide-to="7"></li>
                      <li data-target="#imageCarousel" data-slide-to="8"></li>
                      <li data-target="#imageCarousel" data-slide-to="9"></li>
                  </ul>
      
                  <!-- Slides -->
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="images/0.jpg" alt="MS Dharani Performed at Sri Kaliswari College Photo">
                      </div>
                      <div class="carousel-item">
                          <img src="images/1.jpg" alt="MS Dharani Performed at Sri Kaliswari College Photo">
                      </div>
                      <div class="carousel-item">
                          <img src="images/2.jpg" alt="MS Dharani Performed at Parvthi's arts and Science College Photo">
                      </div>
                      <div class="carousel-item">
                        <img src="images/3.png" alt="MS Dharani Performed at Parvthi's arts and Science College Photo">
                    </div>
                    <div class="carousel-item">
                        <img src="images/4.jpg" alt="MS Dharani Performed at Mannar Thirumalai Naicker College Photo">
                    </div>
                    <div class="carousel-item">
                        <img src="images/5.jpg" alt="MS Dharani Performed at Mannar Thirumalai Naicker College Photo">
                    </div>
                    <div class="carousel-item">
                      <img src="images/6.jpg" alt="MS Dharani Performed at Mepco Schlenk Engineering College Photo">
                  </div>
                  <div class="carousel-item">
                      <img src="images/7.jpeg" alt="MS Dharani Performed at Sri Kaliswari College Photo">
                  </div>
                  <div class="carousel-item">
                      <img src="images/9.jpg" alt="MS Dharani got a 1st prize (WebDesigning) in SRNM College Photo">
                  </div>
                  <div class="carousel-item">
                    <img src="images/10.jpg" alt="Completed the web developing at WebgApp">
                </div>
                  </div>
      
                  <!-- Controls -->
                  <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
          </div>

          
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->


<!-- info section -->
<section class="info_section long_section">

  <div class="container">
    <div class="contact_nav">
      <a href="">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>
          Call : Not available
        </span>
      </a>
      <a href="">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span>
          Email : contactmsdharani@gmail.com
        </span>
      </a>
      <a href="https://maps.app.goo.gl/azpe9435VUMFPvbp6" target="_blank">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>
          Location
        </span>
      </a>
    </div>

    <div class="info_top ">
      <div class="row ">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="info_links">
            <h4>
              QUICK LINKS
            </h4>
            <div class="info_links_menu">
              <a class="" href="/">Home <span class="sr-only">(current)</span></a>
              <a class="" href="/about"> About</a>
              <a class="" href="/tracks">Tracks</a>
              <a class="" href="/own-tracks">Own Tracks</a>
              <a class="" href="/contact">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
          <div class="info_post">
            <h5>
              INSTAGRAM FEEDS
            </h5>
            <div class="post_box">
              <div class="img-box">
                <img src="images/Anbenum Cover photo.png" alt="Anbenum Cover photo">
              </div>
              <div class="img-box">
                <img src="images/Irava Pagala Cover Photo.jpg" alt="Irava Pagala Cover Photo">
              </div>
              <div class="img-box">
                <img src="images/Inayea Cover Photo.jpg" alt="Inayea Cover Photo">
              </div>
              <div class="img-box">
                <img src="images/Old is Gold.jpg" alt="/Old is Gold Cover Photo">
              </div>
              <div class="img-box">
                <img src="images/life of sadness.jpg" alt="Life Of SadNess Cover Photo">
              </div>
              <div class="img-box">
                <img src="images/nira .jpg" alt="Nira (Instrumental Version) Cover Photo">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info_form">
            <h4>
              SIGN UP TO OUR NEWSLETTER
            </h4>
            <form action="https://formsubmit.co/contactmsdharani@gmail.com" method="post">
              <input type="email" placeholder="Enter Your Email" name="Notify Email" required/>
              <button type="submit">
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="https://www.facebook.com/msdharani007" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/MSDharani007">
                <i class="fa fa-twitter" aria-hidden="true" target="_blank"></i>
              </a>
              <a href="https://open.spotify.com/artist/7EC9dluKccRXScG6eNCyV4" target="_blank">
                <i class="fa fa-spotify" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/msdharani1/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end info_section -->


<!-- footer section -->
<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayYear"></span> All Rights Reserved By
      MS Dharani
    </p>
  </div>
</footer>
<!-- footer section -->



  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>