<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/logo.png" type="image/png" />
  <meta name="keywords" content="MS Dharani, Independent music artist, cover songs, original tracks, Tamil songs, music creator, MS Dharani Musician, MS Dharani Keyboardist" />
  <meta name="description" content="MS Dharani is a self-taught keyboardist and an independent artist who initiated his musical journey on his YouTube channel, MS Dharani, from a very early age. " />
  <meta name="author" content="MS Dharani" />
  <title>MS Dharani - Musical Artist</title>


  <!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />

<!-- fonts style -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

<!-- font awesome style -->
<link href="../css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="../css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="../css/responsive.css" rel="stylesheet" />


</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section long_section px-0">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>
            MS Dharani
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tracks">Tracks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/own-tracks">Own Tracks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="quote_btn-container">
            <a href="https://www.youtube.com/@MSDharaniOfficial/" target="_blank">
              <span>
                Subscribe
              </span>
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
    <!-- section 1-->
    <section class="slider_section long_section">
      <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      Independent <br>
                      Music Artist
                    </h1>
                    <p>
                      MS Dharani is a talented individual who excels in both music and programming, showcasing the power of pursuing one's passions with dedication and creativity.
                    </p>
                    <div class="btn-box">
                      <a href="/contact" class="btn1">
                        Contact Us
                      </a>
                      <a href="/about" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="images/me.jpg" alt="MS Dharani Keyboard Playing Photo">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      For All Your <br>
                      track Needs
                    </h1>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                      <a href="" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="hide image">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-5">
                  <div class="detail-box">
                    <h1>
                      For All Your <br>
                      track Needs
                    </h1>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Contact Us
                      </a>
                      <a href="" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="img-box">
                    <img src="images/slider-img.png" alt="hide image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- end section 1 -->
  </div>

  <!--latest Track section -->

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Latest Tracks
        </h2>
      </div>
      <div class="row">

        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/Remo Happy Birthday BGM.jpg" alt="Remo Happy Birthday BGM Cover photo">
            </div>
            <div class="detail-box">
              <h5>
                Remo Happy Birthday BGM - Single
              </h5>
              <p>
                MS Dharani
              </p>
              <a href="/tracks">
                Listen Now
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/nee partha vizhigal by ms dharani.jpg" alt="Nee Partha Vizhigal Cover Photo">
            </div>
            <div class="detail-box">
              <h5>
                Nee Paartha Vizhigal (Instrumental Version) - EP
              </h5>
              <p>
                MS Dharani
              </p>
              <a href="/tracks">
                Listen Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="images/Irava Pagala Cover Photo.jpg" alt="Irava Pagala Cover Photo">
            </div>
            <div class="detail-box">
              <h5>
                Irava Pagala (Trap Mix) - Single
              </h5>
              <p>
                MS Dharani
              </p>
              <a href="/tracks">
                Listen Now
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <!-- end latest Track section -->
   
 <!-- about section -->

 <section class="about_section layout_padding long_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="images/about_img.jpg" alt="MS Dharani Picture">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About Us
            </h2>
          </div>
          <p aria-describedby="about ms dharani">
            MS Dharani is a self-taught keyboardist and an independent artist who initiated his musical journey on his YouTube channel, "MS Dharani," from a very early age. His distinctive, captivating mashups have gained attention. He's now gearing up to release his own original compositions, so keep an eye out for that and follow his recent updates on Instagram at @msdharani1.
          </p>
          <a href="/about">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

  <!-- contact section -->
  <section class="contact_section  long_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Contact Us
              </h2>
            </div>
            <form action="https://formsubmit.co/contactmsdharani@gmail.com" method="post">
              <div>
                <input type="text" placeholder="Your Name" name="Name" required/>
              </div>
              <div>
                <input type="text" placeholder="Phone Number (Optional)" name="Phone"/>
              </div>
              <div>
                <input type="email" placeholder="Email" name="Email" required/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="Message" required/>
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <!-- <div class="map">
              <div id="googleMap"></div>
            </div> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.9348872226183!2d77.63625367385437!3d9.514386881204654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06dcba418eaad3%3A0xded1f221b333b2f3!2sMayandi%20Patti%20St%2C%20Keelapatti%2C%20Srivilliputhur%2C%20Tamil%20Nadu%20626125!5e0!3m2!1sen!2sin!4v1698819793200!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section long_section">

    <div class="container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
            Call : Not available
          </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
            Email : contactmsdharani@gmail.com
          </span>
        </a>
        <a href="https://maps.app.goo.gl/azpe9435VUMFPvbp6" target="_blank">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>
            Location
          </span>
        </a>
      </div>

      <div class="info_top ">
        <div class="row ">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="info_links">
              <h4>
                QUICK LINKS
              </h4>
              <div class="info_links_menu">
                <a class="" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="" href="/about"> About</a>
                <a class="" href="/tracks">Tracks</a>
                <a class="" href="/own-tracks">Own Tracks</a>
                <a class="" href="/contact">Contact Us</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
            <div class="info_post">
              <h5>
                INSTAGRAM FEEDS
              </h5>
              <div class="post_box">
                <div class="img-box">
                  <img src="images/Anbenum Cover photo.png" alt="Anbenum Cover photo">
                </div>
                <div class="img-box">
                  <img src="images/Irava Pagala Cover Photo.jpg" alt="Irava Pagala Cover Photo">
                </div>
                <div class="img-box">
                  <img src="images/Inayea Cover Photo.jpg" alt="Inayea Cover Photo">
                </div>
                <div class="img-box">
                  <img src="images/Old is Gold.jpg" alt="/Old is Gold Cover Photo">
                </div>
                <div class="img-box">
                  <img src="images/life of sadness.jpg" alt="Life Of SadNess Cover Photo">
                </div>
                <div class="img-box">
                  <img src="images/nira .jpg" alt="Nira (Instrumental Version) Cover Photo">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info_form">
              <h4>
                SIGN UP TO OUR NEWSLETTER
              </h4>
              <form action="https://formsubmit.co/contactmsdharani@gmail.com" method="post">
                <input type="email" placeholder="Enter Your Email" name="Notify Email" required/>
                <button type="submit">
                  Subscribe
                </button>
              </form>
              <div class="social_box">
                <a href="https://www.facebook.com/msdharani007" target="_blank">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/MSDharani007" target="_blank">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://open.spotify.com/artist/7EC9dluKccRXScG6eNCyV4" target="_blank">
                  <i class="fa fa-spotify" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/msdharani1/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        MS Dharani
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="/js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

</body>

</html>